------------------------------------------------------------------------------
#          FILE:  mac-gitignore
#   DESCRIPTION:  Global gitignore file for OS X systems
#        AUTHOR:  Amin Gh. <amin@turintech.ai>#
#------------------------------------------------------------------------------
.*
tmp*
NLP.ipynb
src/nlp_utils/__pycache__/*
src/nlp_utils/preprocessing/__pycache__/*
src/nlp_utils/ml/__pycache__/*
src/nlp_utils/embedding/__pycache__/*
tests/__pycache__/*
tests/test_unit/__pycache__/*
ests/test_unit/nlp_utils/__pycache__/*
tests/test_unit/nlp_utils/test_preprocessing/__pycache__/*